.loginCard {
  box-shadow: 0px 3px 6px rgba(000, 000, 000, 0.3) !important;
border: 1px solid gray !important;
  border-radius: 20px !important;
  padding: 69px !important;
  margin: 0 auto !important;
}

.w3-input{
  width: 50px;
}

.button-container{
  width: 100%;
  position: relative;
  left: 25%;
}

.loginCard .button-container {
  margin-top: 30px;
  width: 550px;
  display: flex;
  justify-content: space-between;
}

.loginCard .button-container button {
  background-color: transparent;
  color: black;
  border: 1.5px solid black;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 20px;
  width: 230px;
  transition: all 0.3s ease;
  outline: none;
}

.loginCard .button-container button:hover {
  background-color: lightblue;
  color: white;
  transition: 0.7s;
}
.alinger {
  margin-left: 1.0rem;
}

.align{
  margin-right: 0.9rem;
}

/* MOBILE */
@media only screen and (max-width: 825px) {
  .loginCard {
    width: 100%;
  }

  .loginCard .button-container {
    width: 100%;
  }

  .loginCard .button-container button {
    width: 150px;
  }
}

  