@import "nav.css";
@import "login.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(229, 228, 224);
}

.form-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 5px;
}

.three-columns {
    grid-template-columns: auto auto auto !important;
}

.column-wide {
    grid-column: 2 / 4;
}

.hidden {
    display: none;
}

.container {
    min-height: calc(100vh - 77px);
    padding: 0px 100px;
    position: relative;
    z-index: 100;
    padding-bottom: 30px;
}

.container-center {
    display: flex;
    align-items: center;
}

.form-group .form-control{
    width: 400px;
    border: 1px solid black;
}

.h2_text{
    width: 100%;
    text-align: center;
}

.welcomeUserMessage{
    padding-left: 16%;
    text-align: left;
    font-size: 1.5rem;
    width: 100%;
}

.welkommes{
    font-size: 25px;
    width: 100%;
    text-align: left;
    padding-left: 16%;
}
.welkomadmin{
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.datumstamp{
    width: 100%;
    text-align: center;
}

.logo{
    position: relative;
    left:36%;
    width: 150px;
}

.searchbar{
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 1px solid gray;
    font-size: 16px;
}